.mish-container {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

.mish-heading {
    text-align: -webkit-center;
}

.panel-medium {
    background: #f5f5f5;
}

.btn.btn-default.btn-main {
    border-radius: 0vw;
    border-color: #DDD;
    border-width: 1px;
    padding: 1.5vw;
}

.mish-icon {
    width: 20px;
    margin-right: 5px;
    margin-left: -5px;
}

.mish-margin {
    margin-top: 2vw;
}