.mish-container {
    position: relative;
    width: 100%;
    /*padding: 100px 15px;*/
    padding-top: 10vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 20vw;
    text-align: center;
}

.mish-heading {
    text-align: -webkit-center;
}

.panel-medium {
    background: #f5f5f5;
}

.btn.btn-default.btn-main {
    border-radius: 0vw;
    border-color: #DDD;
    border-width: 1px;
    padding: 1.5vw;
}
.btn.btn-default.btn-main.active {
    background-color: #C3C3C3;
}

.mish-background {
    background-image: url("../images/cover.jpg");
    /*background-image: url("http://thumbs.dreamstime.com/z/chef-work-cooking-pasta-professional-s-hands-wooden-worktop-vegetables-food-ingredients-utensils-top-view-53157008.jpg");*/
    background-size: cover;
}

.mish-icon {
    width: 20px;
    margin-right: 5px;
    margin-left: -5px;
}

.mish-margin {
    margin-top: 2vw;
}

.input-group-addon {
    cursor: pointer;
}

.dropdown {
    /*display: none;*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {background-color: #f1f1f1}

.wizard-header{
    text-align: center;
}

.centered {
    text-align: center;
}

.chef-location input{
    align-self: center;
    text-align: center;
    width: 50%;
    margin: auto;

}

.chef-container {
    margin: auto;
    width: 60%;
    height: 60%;
    padding: 10px;
}

.selected-day {
    background: green;
    border: green;
}

.selected-day a:hover {
    background: green;
    border: green;
}

.angular-google-map-container { height: 85vh; }