<div class="panel">
    <div class="panel-body panel-light mish-heading">
        <div>
            <h2> Add Your Meal </h2>
            <p> Homade lets you sell your creations online </p>
        </div>
    </div>
    <div class="panel-body panel-medium">
        <form ng-submit="submit()" class="container">
            <!--LEFT SIDE-->
            <div class="col-lg-6" ng-init="init()">
                <div class="row mish-margin">
                    <label for="type"> <strong>Type</strong> </label>
                    <br>
                    <div id="type" class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                        <button type="button" class="btn btn-default btn-main" ng-click="setType('Meat')">
                            <img class="mish-icon" src="../public/images/meat.png">
                            Meat
                        </button>
                        <button type="button" class="btn btn-default btn-main" ng-click="setType('Milk')">
                            <img class="mish-icon" src="../public/images/milk.png">
                            Milk
                        </button>
                        <button type="button" class="btn btn-default btn-main" ng-click="setType('Vegetarian')">
                            <img class="mish-icon" src="../public/images/leaf.png">
                            Vegetarian
                        </button>
                        <button type="button" class="btn btn-default btn-main" ng-click="setType('Vegan')">
                            <img class="mish-icon" src="../public/images/leaf.png">
                            <img class="mish-icon" src="../public/images/leaf.png">
                            Vegan
                        </button>
                    </div>
                </div>

                <div class="row mish-margin">
                    <label for="name"> <strong>Name</strong> </label>
                    <br>
                    <div id="name" class="">
                        <input required ng-model="meal.name" type="text" class="form-control" placeholder="Meal Name">
                    </div>
                </div>

                <div class="row mish-margin">
                    <label for="description">Description</label>
                    <br>
                    <div class="" id="description">
                        <textarea required ng-model="meal.description" placeholder="Description" class="form-control" rows="5" id=""></textarea>
                    </div>
                </div>

                <div class="row mish-margin">
                    <label for="tags"> <strong>Tags</strong> </label>
                    <br>
                    <div class="">
                        <tags-input id="tags" ng-model="meal.tags" add-on-paste="true" add-on-space="true">
                            <!--<auto-complete source="loadTags($query)"></auto-complete>-->
                        </tags-input>
                    </div>
                </div>

                <div class="row mish-margin">
                    <label for="price"> <strong>Price per Meal</strong> </label>
                    <br>
                    <div id="price" class="input-group col-lg-6">
                        <input required ng-model="meal.price" data-number-to-fixed="2" type="number" class="form-control currency" step="" placeholder="Meal Price...">
                        <span ng-click="dropdown = !dropdown" class="input-group-addon">{{currency}}</span>
                        <div ng-click="dropdown = !dropdown" ng-show="dropdown" class="dropdown">
                            <a href="" ng-repeat="curren in currencies" ng-click="chngCurr(curren)">{{curren}}</a>
                        </div>
                    </div>
                </div>

                <div class="row mish-margin">
                    <label class="checkbox-inline"><input ng-model="meal.kosher" type="checkbox" value="">Kosher</label>
                    <label class="checkbox-inline"><input ng-model="meal.glutenfree" type="checkbox" value="">Gluten-free</label>
                    <label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
                </div>

                <div class="col-lg-6">
                    <button type="submit" class="btn btn-warning btn-block mish-margin">
                        Submit
                    </button>
                </div>
            </div>
            <!-- RIGHT SIDE -->
            <div class="col-lg-4" style="margin-left: 2vw;">
                <input  type="file"
                        ngf-select
                        ng-model="meal.file"
                        name="file"
                        ngf-pattern="'image/*'"
                        accept="image/*"
                        ngf-max-size="20MB"/>
                Image thumbnail: <img style="width:100px;" ngf-thumbnail="meal.file || '/thumb.jpg'"> <br>
                <i ng-show="meal.file.$error.required">*required</i><br>
                <i ng-show="meal.file.$error.maxSize">File too large
                    {{meal.file.size / 1000000|number:1}}MB: max 20M</i>
                <!--<button type="submit" ng-click="up.submit()">submit</button>-->
                <p>{{meal.file.progress}}</p>
            </div>
        </form>
    </div>
</div>