<div>
    <h2> Add Your Meal </h2>
    <p> Homade lets you sell your creations online </p>
</div>
<div class="">
    <div class="" ng-init="init()">

        <label for="type"> <strong>Type</strong> </label>
        <div id="type" class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <button type="button" class="btn btn-default">Meat</button>
            <button type="button" class="btn btn-default">Milk</button>
            <button type="button" class="btn btn-default">Vegetarian</button>
            <button type="button" class="btn btn-default">Vegan</button>
        </div>

        <label for="name"> <strong>Name</strong> </label>
        <div id="name" class="btn-group btn-group-lg" role="group" aria-label="Large button group">
            <input type="text" class="form-control" placeholder="Meal Name">
        </div>

        <!--<label for="name"> <strong>Name</strong> </label>-->
        <!--<div id="name" class="btn-group btn-group-lg" role="group" aria-label="Large button group">-->
            <!--<input type="text" class="form-control" placeholder="Meal Name">-->
        <!--</div>-->

    </div>
</div>