<div class="chef-container">
    <div class="wizard-header">
        <h3>
            <b>BUILD</b> YOUR PROFILE <br>
            <small>This information will let us know more about you.</small>
        </h3>
    </div>
    <ul class="nav nav-pills nav-justified" id="pills">
        <li ng-class="isActive1 ? 'active' : 'falseClass'"><a href="#">Location</a></li>
        <li ng-class="isActive2 ? 'active' : 'falseClass'"><a href="#">Working Hours</a></li>
    </ul>

    <div class="tab-content">

        <div id="location" class="tab-pane fade in active" ng-show="isActive1" >
            <div class="centered" ><h3>
                <b>WHERE</b> do you want to provide meals?<br>
            </h3>

            </div>
            <br>

            <div class="chef-location">

                <input id="autocomplete" required ng-model="chosenPlace" type="text" class="form-control" placeholder="Location">
                <br>
                <div class="row graphs">
                    <div ng-class="showCols">
                        <div style="width: 100%; height: 100%;">
                            <canvas id="bar" class="chart chart-bar" width="523" style="width: 523px; height: 95vh;"  ng-show="showTips" ng-hide="!showTips"
                                    chart-data="data" chart-labels="labels">
                            </canvas>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <ui-gmap-google-map class="map-become-chef"
                                            center="chefDetails.location"
                                            zoom="zoom"
                                            events="map.events"
                                            ng-cloak>
                            <ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                                             geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable">
                            </ui-gmap-polygon>
                            <ui-gmap-marker coords="chefDetails.location" ng-show="locationChosen" options="marker.options" events="marker.events" idkey="1">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>

            </div>


        </div>

        <div id="workingHours" ng-show="isActive2" class="tab-pane fade in active">

            <div class="centered" >
                <div class="col-sm-12">
                    <h4 class="workdays-header"> When do you want to be available?</h4>
                </div>
            </div>
            <br>

            <div class="working-hours centered">
                <div ng-repeat="currDay in chefDetails.workDays" class="btn-group centered" >
                    <div id="{{currDay.day}}" >
                        <button type="button" ng-class="{ 'selected-day' : currDay.isWorking }" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-target="{{currDay.day + 'dropdown'}}">{{currDay.dayName}}</button>
                        <div id="{{currDay.day + 'dropdown'}}" class="dropdown-menu" style="padding: 15px;" ng-click="$event.stopPropagation();">
                            <input type="checkbox" ng-model="currDay.isWorking">
                            <label>Working</label>
                            <div id="start">
                                <br>
                                <label class="info-text"> Starting time: </label>
                                <uib-timepicker ng-model="currDay.startingTime" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="ismeridian"/>
                            </div>
                            <div id="finish">
                                <label class="info-text"> Finish time: </label>
                                <uib-timepicker ng-model="currDay.finishTime" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="ismeridian"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="pull-left">
        <input type="button" ng-show="!isActive1" class="btn btn-previous btn-fill btn-default btn-wd btn-sm" ng-click="setPrevious()" name="previous" value="<< Previous">
    </div>

    <div class="pull-right">
        <input type="button" ng-show="isActive2" class="btn btn-previous btn-fill btn-default btn-wd btn-sm" ng-click="sendData()" name="next" value="Become a chef >>">
        <input type="button" ng-show="!isActive2" ng-disabled="!locationChosen" class="btn btn-previous btn-fill btn-default btn-wd btn-sm" ng-click="setNext()" name="next" value="Next >>">
    </div>
</div>