<div class="row dashboard-container">
    <div class="col-md-3">
        <div class="panel space-4">
            <div class="media media-photo-block
            ">
                <a href="/users/show/47263153" title="View Profile"><img alt="Michael" class="img-responsive" height="190" src="https://a2.muscache.com/im/pictures/9472b64c-8c77-4e0c-86a5-52436c76cce2.jpg?aki_policy=profile_x_medium" title="Michael" ></a>
            </div>
            <div class="panel-body">
                <h2 class="text-center">
                    Michael
                </h2>
                <ul class="list-unstyled text-center">
                    <li>
                        <b>28</b> Orders In Total
                    </li>
                    <li>
                        <b>15</b> Last Month
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-md-9">

        <div class="panel space-4">
            <div class="panel-header">
                Messages (0 new)
            </div>
            <ul>
                <div class="row message-dashboard">
                    <div class="col-3" style="width: 25%; float: left;">
                        <div class="row row-table">
                            <div class="col-5" style="width: 40%; float: left;">
                                <a href="/users/show/30118557" data-popup="true"><img alt="Moris" style="margin: 0px;" class="avatar-frame" height="50" src="https://a2.muscache.com/im/pictures/a1504519-31fb-4ae2-aa0a-06bb2e7b0d07.jpg?aki_policy=profile_small" title="Moris" width="50"></a>
                            </div>
                            <div class="col-7">
                                Moris
                                <br>
                                11/22/2015
                            </div>
                        </div>
                    </div>
                    <a href="/z/q/147212846" class="link-reset text-muted">
                        <div class="col-7">
                            <h5 style="display: table-cell;
vertical-align: middle;
text-align:center;">
                            Hi Michael,

                            Im sorry i see that the house rules ...
                            </h5>

                            <br>
                        </div>
                    </a>
                </div>

            </ul>
            <hr class="new-line-message">

            <ul>
                <div class="row message-dashboard">
                    <div class="col-3" style="width: 25%; float: left;">
                        <div class="row row-table">
                            <div class="col-5" style="width: 40%; float: left;">
                                <a href="/users/show/30118557" data-popup="true"><img alt="Moris" style="margin: 0px;" class="avatar-frame" height="50" src="https://a2.muscache.com/im/pictures/a1504519-31fb-4ae2-aa0a-06bb2e7b0d07.jpg?aki_policy=profile_small" title="Moris" width="50"></a>
                            </div>
                            <div class="col-7">
                                Moris
                                <br>
                                11/22/2015
                            </div>
                        </div>
                    </div>
                    <a href="/z/q/147212846" class="link-reset text-muted">
                        <div class="col-7">
                            <h5 style="display: table-cell;
vertical-align: middle;
text-align:center;">
                                Hi Michael,

                                Im sorry i see that the house rules ...
                            </h5>

                            <br>
                        </div>
                    </a>
                </div>

            </ul>
            <hr class="new-line-message">

        </div>
        <div class="panel panel-default">
            <table class="table table-hover">
                <tbody>
                <tr class="panel-header">
                    <th>
                        Meal
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
                <tr class="ng-scope">
                    <td class="ng-binding">
                        Test
                    </td>
                    <td class="ng-binding">Michael Reizelman</td>
                    <td class="ng-binding">2</td>
                    <td class="text-left text-nowrap">
                        <button class="btn btn-xs btn-success ng-binding">
                            Supplied: 05/27/2016 19:56
                        </button>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="ng-scope">
                    <td class="ng-binding">
                        Test
                    </td>
                    <td class="ng-binding">Michael Reizelman</td>
                    <td class="ng-binding">3</td>
                    <td class="text-left text-nowrap">
                        <button class="btn btn-xs btn-success ng-binding">
                            Supplied: 05/28/2016 14:19
                        </button>
                    </td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>