<div class="row dashboard-container">
    <div class="col-md-3">
        <div class="panel space-4">
            <div class="media media-photo-block">
                <img alt="{{ chefName }}" class="img-responsive" height="190" src="{{ picture }}" title="{{ chefName }}">
            </div>
            <div class="panel-body">
                <h2 class="text-center">
                    {{ chefName }}
                </h2>
                <ul class="list-unstyled text-center">
                    <li>
                        <b>{{ totalOrders }}</b> Orders In Total
                    </li>
                    <li>
                        <b>{{ lastMonth }}</b> Last Month
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-md-9">

        <div class="panel space-4">
            <div class="panel-header">
                <a href="/Messages"> Latest Messages </a>
            </div>

            <div ng-repeat="message in messages">
                <ul>
                    <div class="row message-dashboard">
                        <a href="/Messages">
                            <div class="col-3" style="width: 25%; float: left;">
                                <div class="row row-table">
                                    <div class="col-5" style="width: 40%; float: left;">
                                        <img alt="{{ message.author.name }}" style="margin: 0px;" class="avatar-frame" height="50" src="{{ message.picture }}" title="Moris" width="50">
                                    </div>
                                    <div class="col-7">
                                        {{ message.author.name }}
                                        <br>
                                        {{ formatDate(message.time) |  date:'dd/MM/yyyy ' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <h5 style="display: table-cell;vertical-align: middle;text-align:center;">
                                {{ message.content }}
                                </h5>

                                <br>
                            </div>
                        </a>
                    </div>

                </ul>
                <hr class="new-line-message">
            </div>

        </div>

        <b>Active Orders:</b>

        <div class="panel panel-default">
            <table class="table table-hover">
                <tbody>
                    <tr class="panel-header">
                        <th>
                            Meal
                        </th>
                        <th>
                            Client
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Total Price
                        </th>
                        <th>
                            Starting Date
                        </th>
                    </tr>
                    <tr ng-repeat="order in activeOrders">
                        <td>
                            {{ order.meal.name }}
                        </td>
                        <td class="ng-binding"> {{ order.clientName }} </td>
                        <td class="ng-binding"> {{ order.quantity }} </td>
                        <td class="ng-binding"> {{ order.totalPrice }} </td>
                        <td class="text-left text-nowrap">
                            <button class="btn btn-xs btn-success ng-binding">
                                {{ formatDate(order.startDate) |  date:'MM/dd/yyyy H:mm' }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <b>Finished Orders:</b>

        <div class="panel panel-default">
            <table class="table table-hover">
                <tbody>
                <tr class="panel-header">
                    <th>
                        Meal
                    </th>
                    <th>
                        Client
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total Price
                    </th>
                    <th>
                        Finish Date
                    </th>
                    <th>
                        Rating
                    </th>
                </tr>
                <tr ng-repeat="order in completeOrders">
                    <td class="ng-binding">
                        {{ order.meal.name }}
                    </td>
                    <td class="ng-binding"> {{ order.clientName }}</td>
                    <td class="ng-binding"> {{ order.quantity }}</td>
                    <td class="ng-binding"> {{ order.totalPrice }}</td>
                    <td class="text-left text-nowrap">
                        <button class="btn btn-xs btn-success ng-binding">
                            {{ formatDate(order.endDate) |  date:'MM/dd/yyyy H:mm' }}
                        </button>
                    </td>
                    <td class="ng-binding">
                        <i class="fa fa-star yellowed-star" ng-repeat="n in fullStars(order) track by $index"></i><i class="fa fa-star-o yellowed-star" ng-repeat="n in emptyStars(order) track by $index"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>