<div class="container">
    <div class="wizard-header">
        <h2>
            <b>ORDERS</b>
        </h2>
    </div>
    <div class="panel panel-default">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th>
                    Meal
                </th>
                <th>
                    Chef
                </th>
                <th>
                    Quantity
                </th>
            </tr>
            <tr ng-repeat="order in activeOrders" ng-show="order.status != 3" ng-hide="order.status == 3">
                <td>
                    <span class="glyphicon glyphicon-file"></span>
                    {{ order.meal.name }}
                </td>
                <td>{{ order.chefName }}</td>
                <td>{{ order.quantity }}</td>
                <td class="text-right text-nowrap">
                    <button class="btn btn-xs btn-info" >
                        Created: {{ formatDate(order.startDate) |  date:'MM/dd/yyyy H:mm' }}
                    </button>
                    <button class="btn btn-xs btn-info" ng-bind="getStatusName(order.status, true)">
                    </button>
                    <button class="btn btn-xs btn-warning">
                        Send message
                        <span class="glyphicon glyphicon-envelope" style="height: 10px"/>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>