<div class="mish-container">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Place To Find Great Home-cooked Meals!</h1>
            <hr>
            <p>Homade is your platfom to find great home cooked meals around you! Just type in what you want to eat and where and start going!</p>
            <input class="search-header" id="searchBar" name="searchBar" type="text" placeholder="What do you want to eat? " width="200px" ><input class="location-header" id="location" name="location" type="text" placeholder="Where?" >
        </div>
    </div>
</div>
<div class="meals">
    <div class="row">

    </div>
</div>