<div class="mish-container mish-background">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Place To Find Great Home-cooked Meals!</h1>
            <hr>
            <p style="font-weight: bold;">Homade is your platfom to find great home cooked meals around you! Just type in what you want to eat and where and start going!</p>
            <div class="form-group col-md-6 col-centered">
                <angucomplete-alt id="ex1"
                                  placeholder="What do you want to eat?"
                                  pause="100"
                                  selected-object="onSelect"
                                  local-data="tags"
                                  search-fields="val"
                                  title-field="val"
                                  minlength="0"
                                  my-enter="go()"
                                  input-class="form-control inline-autocomplete"
                                />
                <input id="autocomplete" class="form-control" style="width: 35%; display: inline-block" ng-model="search.location" type="text" placeholder="Where?">
            </div>
        </div>
    </div>
</div>