<!--<div class="panel">-->
    <!--<div class="panel-body panel-light mish-heading">-->
        <!--<div>-->
            <!--<h2><b>MESSAGES</b></h2>-->
            <!--<p> <b>CHAT</b> with your Client/Chefs </p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="panel-body panel-medium">-->
        <!--<div class="chat-app">-->
            <!--<section class="col-md-8">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<img class="author-profile" ng-src="http://bower.io/img/bower-logo.png" src="http://bower.io/img/bower-logo.png">-->
                        <!--<div class="message">-->
                            <!--<div class="author">testchat</div>-->
                            <!--<div class="date">10:21</div>-->
                            <!--<div class="body">Hi</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img class="author-profile" ng-src="http://bower.io/img/bower-logo.png" src="http://bower.io/img/bower-logo.png">-->
                        <!--<div class="message">-->
                            <!--<div class="author">testchat</div>-->
                            <!--<div class="date">10:21</div>-->
                            <!--<div class="body">Hi</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img class="author-profile" ng-src="http://bower.io/img/bower-logo.png" src="http://bower.io/img/bower-logo.png">-->
                        <!--<div class="message">-->
                            <!--<div class="author">testchat</div>-->
                            <!--<div class="date">10:21</div>-->
                            <!--<div class="body">Hi</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</section>-->
            <!--<section class="col-md-4">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<img class="author-profile" ng-src="http://bower.io/img/bower-logo.png">-->
                        <!--<div class="author">dudu</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</section>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="container">-->
    <!--<div class="row " style="padding-top:40px;">-->
        <!--<h3 class="text-center" >BOOTSTRAP CHAT EXAMPLE </h3>-->
        <!--<br /><br />-->
        <!--<div class="col-md-8">-->
            <!--<div class="panel panel-info">-->
                <!--<div class="panel-heading">-->
                    <!--RECENT CHAT HISTORY-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<ul class="media-list">-->

                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle " src="assets/img/user.png" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->

                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.-->
                                        <!--Duis vel condimentum massa.-->
                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->
                                        <!--<br />-->
                                        <!--<small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>-->
                                        <!--<hr />-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle " src="assets/img/user.gif" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->

                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.-->
                                        <!--Duis vel condimentum massa.-->
                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->
                                        <!--<br />-->
                                        <!--<small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>-->
                                        <!--<hr />-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle " src="assets/img/user.png" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->

                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.-->
                                        <!--Duis vel condimentum massa.-->
                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->
                                        <!--<br />-->
                                        <!--<small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>-->
                                        <!--<hr />-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle " src="assets/img/user.gif" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->

                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.-->
                                        <!--Duis vel condimentum massa.-->
                                        <!--Donec sit amet ligula enim. Duis vel condimentum massa.-->
                                        <!--<br />-->
                                        <!--<small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>-->
                                        <!--<hr />-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="panel-footer">-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" class="form-control" placeholder="Enter Message" />-->
                                    <!--<span class="input-group-btn">-->
                                        <!--<button class="btn btn-info" type="button">SEND</button>-->
                                    <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">-->
                    <!--ONLINE USERS-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<ul class="media-list">-->

                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--<h5>Alex Deo | User </h5>-->

                                        <!--<small class="text-muted">Active From 3 hours</small>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--<h5>Jhon Rexa | User </h5>-->

                                        <!--<small class="text-muted">Active From 3 hours</small>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--<h5>Alex Deo | User </h5>-->

                                        <!--<small class="text-muted">Active From 3 hours</small>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--<h5>Jhon Rexa | User </h5>-->

                                        <!--<small class="text-muted">Active From 3 hours</small>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--<h5>Alex Deo | User </h5>-->

                                        <!--<small class="text-muted">Active From 3 hours</small>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--<h5>Jhon Rexa | User </h5>-->

                                        <!--<small class="text-muted">Active From 3 hours</small>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--<h5>Alex Deo | User </h5>-->

                                        <!--<small class="text-muted">Active From 3 hours</small>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="media">-->

                            <!--<div class="media-body">-->

                                <!--<div class="media">-->
                                    <!--<a class="pull-left" href="#">-->
                                        <!--<img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />-->
                                    <!--</a>-->
                                    <!--<div class="media-body" >-->
                                        <!--<h5>Jhon Rexa | User </h5>-->

                                        <!--<small class="text-muted">Active From 3 hours</small>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--<script src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/js/jquery.nicescroll.min.js"></script>-->
<div class="chat content container-fluid bootstrap snippets" style="background-color: transparent; width: 80%; margin-top: 30px;">
    <div class="row row-broken">
        <div class="col-sm-3 col-xs-12 chat-no-padding">
            <div class="decor-default chat" style="overflow: auto; outline: none;" tabindex="5000">
                <div class="chat-users">
                    <h6 style="padding: 20px;">Users</h6>
                    <div class="user" ng-class="{'active':con.fbId == selectedUser.fbId}" ng-click="userSelect(con)" ng-repeat="con in connections">
                        <div class="avatar">
                            <!--<img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">-->
                            <img ng-src="{{con.pic}}" alt="User name">
                            <!--<div class="status off"></div>-->
                        </div>
                        <div class="content">
                            <div class="name">{{con.name}}</div>
                            <div class="mood">{{con.type}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12 chat chat-no-padding" style="outline: none;" tabindex="5001">
            <div scroll-glue class="col-inside-lg decor-default">
                <div scroll-glue class="chat-body">
                    <h6>Chat</h6>
                    <div class="answer" ng-repeat="message in messages" ng-class="{right: isMe(message), left: !isMe(message)}">
                        <div class="avatar">
                            <img ng-src="{{message.pic}}" alt="User name">
                            <!--<div class="status offline"></div>-->
                        </div>
                        <div class="content">
                            <div class="name">{{message.author.name}}</div>
                            <div class="text">
                                {{message.content}}
                            </div>
                            <div class="time">{{message.time}}</div>
                        </div>
                    </div>
                </div>
                <div class="chat-body answer-add">
                    <input placeholder="Write a message" my-enter="send()" ng-model="text">
                    <!--<span class="answer-btn answer-btn-1" ng-click="send()"></span>-->
                    <span class="answer-btn answer-btn-2" ng-click="send()"></span>
                </div>
            </div>
        </div>
    </div>
</div>