<div style="padding-top: 5vh">
    <div class="chat content container-fluid bootstrap snippets" style=" width: 80%;">
        <div class="row row-broken">
            <div class="col-sm-3 col-xs-12 chat-no-padding">
                <div class="decor-default chat" style="overflow: auto; outline: none;" tabindex="5000">
                    <div class="chat-users">
                        <h6 style="padding: 20px;">Users</h6>
                        <div class="user" ng-class="{'active':con.fbId == selectedUser.fbId}" ng-click="userSelect(con)" ng-repeat="con in connections">
                            <div class="avatar">
                                <!--<img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">-->
                                <img ng-src="{{con.pic}}" alt="User name">
                                <!--<div class="status off"></div>-->
                            </div>
                            <div class="content">
                                <div class="name">{{con.name}}</div>
                                <div class="mood">{{con.type}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12 chat chat-no-padding" style="outline: none;" tabindex="5001">
                <div scroll-glue class="col-inside-lg decor-default">
                    <div scroll-glue class="chat-body">
                        <h6>Chat</h6>
                        <div class="answer" ng-repeat="message in messages" ng-class="{right: isMe(message), left: !isMe(message)}">
                            <div class="avatar">
                                <img ng-src="{{message.pic}}" alt="User name">
                                <!--<div class="status offline"></div>-->
                            </div>
                            <div class="content">
                                <div class="name">{{message.author.name}}</div>
                                <div class="text">
                                    {{message.content}}
                                </div>
                                <div class="time">{{message.time}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-body answer-add">
                        <input placeholder="Write a message" my-enter="send()" ng-model="text">
                        <!--<span class="answer-btn answer-btn-1" ng-click="send()"></span>-->
                        <span class="answer-btn answer-btn-2" ng-click="send()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>