<div>

    <div class="pic-container">
        <img class="backgroundImage" cl-src="{{order.meal._id}}" alt="">
        <div class="money-text">
            <h4> Available for: {{ order.meal.price }} $ </h4>
        </div>
    </div>

    <div class="row" style="background: #f5f5f5; ">

        <div class="under-money">
            <form class="form-inline" style="width:100%;" role="form">
                <div class="form-group" style="width:100%;">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="under-money-in" placeholder="Quantity" min="1" max="20" id="quantity" ng-model="order.quantity">
                </div>
                <button class="btn btn-primary" ng-click="performOrder()" confirm="Are you sure you want to order {{ order.quantity }} of {{ order.meal.name }}?"  confirm-settings="{size: 'la'}">
                    Order!
                </button>
            </form>
        </div>

        <div class="col-md-3 profile" >
            <a class="" href="/Profile">
                <img ng-src="{{ chefPic }}" class="chef-pic" align="top"><br>
                {{ chefName }}

            </a>
        </div>
        <div>
        </div>
        <div class="col-md-9" style="background: #f5f5f5; width: initial" >
            <div>
                <h1 itemprop="name" class="overflow h1 space-1 text-center-sm test" id="listing_name" >{{ order.meal.name }} </h1>
                <i class="fa fa-star fa-2x yellowed-star" ng-repeat="n in fullStars() track by $index"></i>
                <i ng-if="halfStar()" class="fa fa-star-half-o fa-2x yellowed-star" aria-hidden="true"></i>
                <i class="fa fa-star-o fa-2x yellowed-star" ng-repeat="n in emptyStars() track by $index"></i>
                {{ ratingText }}
            </div>


            <br/>
            <div class="properties" ng-show="order.meal.type == 'Vegetarian'">
                <img src="../public/images/leaf.png" align="top"><br>
                Vegeterian
            </div>

            <div class="properties" ng-show="order.meal.type == 'Vegan'">
                <img src="../public/images/leaf.png" align="top"><br>
                Vegan
            </div>

            <div class="properties" ng-show="order.meal.type == 'Milk'">
                <img src="../public/images/milk.png" align="top"><br>
                Milk
            </div>

            <div class="properties" ng-show="order.meal.type == 'Meat'">
                <img src="../public/images/meat.png" align="top"><br>
                Meat
            </div>

            <div class="properties" ng-show="!order.meal.kosher">
                <img class="propInActive" src="../public/images/certifiedKosher.jpg" align="top"><br>
                Not Kosher
            </div>

            <div class="properties" ng-show="order.meal.kosher">
                <img src="../public/images/certifiedKosher.jpg" align="top"><br>
                Kosher
            </div>


            <div class="properties" ng-show="!order.meal.glutenfree">
                <img src="../public/images/glutentrue.jpg" align="top"><br>
                With Gluten
            </div>

            <div class="properties" ng-show="order.meal.glutenfree">
                <img class="propInActive" src="../public/images/glutentrue.jpg" align="top"><br>
                No Gluten
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="descriptionMeal">
            <hr class="soften" />
            <h4 itemprop="name" class="overflow h4 space-1 text-center-sm test \\" > DESCRIPTION </h4>
            <div >
                {{ order.meal.description }}
            </div>
        </div>
    </div>

    <div class="well">

        <div class="text-right margined">
            <a class="btn btn-success">Reviews >></a>
        </div>

        <hr>

        <div id="reviews">

            <div ng-repeat="order in ordersOfMeal">
                <div class="row margined">
                    <div class="col-md-12">
                        <i class="fa fa-star yellowed-star" ng-repeat="n in order.fullStars track by $index"></i><i class="fa fa-star-o yellowed-star" ng-repeat="n in order.emptyStars track by $index"></i>
                        {{ order.clientName }}
                        <span class="pull-right">{{ order.daysAgo }} days ago</span>
                        <p> {{ order.comment }} </p>
                    </div>
                </div>

                <hr>
            </div>

        </div>

    </div>

</div>